.technologies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

  &__item {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  
    font-family: 'Rubik', sans-serif;
  
    padding: 0.5rem;
    border-radius: 0.3rem;
  
    color: $secondaryColor;
    background-color: $whiteDark;
  
    transition: color $transition, background-color $transition;
  
    &--dark {
      color: $white;
      background-color: $secondaryLightColor;
    }
  }
}
