.introduction {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  align-items: center;

  &__title {
    font-weight: 700;
    font-size: 2.25rem;

    transition: color $transition;

    &--dark {
      color: $white;
    }

    &-lead {
      font-family: 'Rubik';
      font-weight: 400;

      color: $primaryColor;
    }

    @include mediumScreens() {
      font-size: 3.75rem;
    }
  }

  &__description {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;

    color: $leadColor;

    text-align: justify;
  }

  &__technologies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

// ? remove - how can I map through the components
.technology {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;

  font-family: 'Rubik', sans-serif;

  padding: 0.5rem;
  border-radius: 0.3rem;

  color: $secondaryColor;
  background-color: $whiteDark;

  transition: color $transition, background-color $transition;

  &--dark {
    color: $white;
    background-color: $secondaryLightColor;
  }
}
