.introduction {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  align-items: center;

  &__title {
    font-weight: 700;
    font-size: 2.25rem;

    transition: color $transition;

    &--dark {
      color: $white;
    }

    &-lead {
      font-family: 'Rubik';
      font-weight: 400;

      color: $primaryColor;
    }

    @include mediumScreens() {
      font-size: 3.75rem;
    }
  }

  &__description {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;

    color: $leadColor;

    text-align: justify;
  }
}
