$primaryColor: #356ee9;
$primaryDarkColor: #1559ea;
$primaryLightColor: #608ef0;

$secondaryColor: #111827;
$secondaryDarkColor: #090d15;
$secondaryLightColor: #222d41;

$black: #060504;
$blackDark: #000;
$blackLight: #120f0c;

$white: #f7f3f3;
$whiteDark: #e3e8ed;
$whiteLight: #fff;

$leadColor: #8a8a8a;

$headerHeight: 1.5rem;
$footerHeight: 1.5rem;

$transition: 300ms ease;
