$primaryColor:#2563EB;
$primaryDarkColor:#1559EA;
$primaryLightColor:#608EF0;

$secondaryColor:#111827;
$secondaryDarkColor:#090D15;
$secondaryLightColor:#172135;

$black: #060504;
$blackDark: #000;
$blackLight: #120F0C;

$white: #F7F3F3;
$whiteDark: #E3E8ED;
$whiteLight: #fff;


$transition: 300ms ease;