.header {
  position: sticky;
  top: 0;

  background-color: $whiteDark;
  transition: color $transition, background-color $transition;

  &--dark {
    background-color: $secondaryDarkColor;
    color: $white;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 62px;
  }

  &__nav {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;

    &:first-child {
      margin-left: auto;
    }
  }

  &__menu-opener {
    @include icon-sizing;

    display: block;

    background-image: url(/images/menu-bars.svg);
    transition: background-image $transition, color $transition;

    &:hover {
      background-image: url(/images/menu-bars-hover.svg);
    }

    &--dark {
      background-image: url(/images/menu-bars-w.svg);
      transition: background-image $transition, color $transition;

      &:hover {
        background-image: url(/images/menu-bars-hover-w.svg);
      }
    }

    @include mediumScreens {
      display: none;
    }
  }
}
