.header {
  background-color: $white;
  transition: color $transition, background-color $transition;

  &--dark {
    background-color: $secondaryColor;
    color: $white;
  }

  &__content {
  // ?remove
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0;
  }

  &__nav {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;

    &:first-child {
      margin-left: auto;
      background-color: red;
    }
  }

  &__menu-opener {
    @include icon-sizing;

    display: block;

    background-image: url(/images/menu-bars.svg);

    &:hover {
      background-image: url(/images/menu-bars-hover.svg);
    }
  }
}
