.experience {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  color: $secondaryColor;

  align-items: left;

  &--dark {
    color: $white;
  }

  &__title {
    font-weight: 700;
    font-size: 3rem;

    transition: color $transition;

    &-lead {
      font-weight: 400;
    }
  }

  &__summary {
    display: grid;
    gap: 2rem;
    
    @include mediumScreens() {
      grid-template-columns: 1fr 1fr;
    }

    @include largeScreens() {
      gap: 4rem;
    }
  }

  &__list {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;

    @include mediumScreens() {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 30px 30px;

    cursor: pointer;


    &-description {
      display: none;

      @include mediumScreens() {
        display: inline;
      }
    }

    &-position {
      font-size: 1.13rem;
    }

    &-company {
      font-size: 0.75rem;
      color: $leadColor
    }

    &--active {
      background-color: $whiteDark;
      transition: background-color $transition;

      &-dark {
        background-color: $secondaryLightColor;
        transition: background-color $transition;
      }
    }

    @include mediumScreens() {
      justify-content: left;
    }
  }

  &__icon {
    color: inherit;
    font-size: 2.25rem;
    margin-bottom: -0.75rem;
  }
}
