@import "styles/main.scss";

// ?remove where should I insert these styles?
.page {
  font-family: 'Source Code', monospace;
  font-size: 16px;

  margin: 0;
  
  scroll-behavior: smooth;

  &__body {
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  &__header {
    padding-bottom: 5.75rem;
  }

  &__main {
    background-color: $white;

    transition: background-color $transition;

    &--dark {
      background-color: $secondaryColor;
    }
  }

  &__section {
    // ?remove - I'm using padding for spacing - would that be acceptable???
    padding-bottom: 5.75rem;

    &:last-child {
      padding-bottom: 3rem;
    }
  }
}

/* #region Fontsizes */
h1 {
  font-size: 3.75rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.875rem;
}
h5 {
  font-size: 1.5rem;
}
/* #endregion */

.container {
  max-width: 1260px;
  margin: 0 auto;

  --horizontalPadding: 20px;
  padding: 0 var(--horizontalPadding);

  @include mediumScreens() {
    --horizontalPadding: 72px;
  }

  @include largeScreens() {
    --horizontalPadding: 120px;
  }
}